*{
    box-sizing: border-box;
}
.flexcontainer {
    display: flex;
    flex-wrap: wrap;
}
.flexcontainer{
    flex: 25%;
    padding: 20%;
}
@media screen and (max-width: 992px) {
    .flexcontainer {
        flex: 50%;
    }
}
@media screen and (max-width: 600px) {
    .flexcontainer {
        flex-direction: column;
    }
}