*{
    box-sizing: border-box;
}
.myFlexBoxRow {
    display: flex;
    flex-wrap: wrap;
}
.myFlexBoxColumn{
    flex: 33%;
    padding: 20px;
}
@media screen and (max-width: 600px) {
    .myFlexBoxRow {
        flex-direction: column;
    }
}