* {
    box-sizing: border-box;
    }
    
    .myflexboxRow {
    display: flex;
    }
    
    .myflexboxColumn {
    flex: 25%;
    padding: 20px;
    }
    
    @media screen and (max-width: 600px) {
    .myflexboxRow {
    flex-direction: column;
    }
    }
    