*{
    box-sizing: border-box;
}
.flexrow {
    display: flex;
    flex-wrap: wrap;
}
.flexrow{
    flex: 33%;
    padding: 20px;
}
@media screen and (max-width: 600px) {
    .flexrow {
        flex-direction: column;
    }
}